@font-face {
	/*font-family: 'twaysky';*/
	/*src:*/
	/*	url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff')*/
	/*	format('woff');*/
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'twaysky';*/
	font-family: 'GmarketSansMedium';
}

.star_rating {font-size:0; letter-spacing:-4px;}

.star_rating a {
	font-size:22px;
	letter-spacing:0;
	display:inline-block;
	margin-left:5px;
	color:#ccc;
	text-decoration:none;
}
.btn{
	width: 100px;
	height: 30px;
	border-radius: 20px;
	color: #fff;
	transition: all .4s;
	border: none;
	background-color:  #9DCDD7;
}
.btn:hover{
	background: #fff;
	color: #71a2fc;
}
.star_rating a:first-child {margin-left:0;}

.star_rating a.on {color: #e97928}
 
 

